<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.managerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Manager.CourtReport"></activity>
        <activity android:name=".ViewComment"></activity>
        <activity android:name=".ViewReport" />
        <activity android:name=".SupplierList" />
        <activity android:name=".ManagerHomePage" />

        <service
            android:name=".Service.ComingOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Manager.NewSupplier" />
        <activity android:name=".Manager.ManagerLogin" />
        <activity android:name=".Supplier.NewFood" />
        <activity android:name=".Supplier.SupplierLogin" />
        <activity android:name=".Supplier.FoodDetail" />

        <activity
            android:name=".Supplier.SupplierHomePage"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>